		h1{
			margin:30px auto;
			text-align: center;
		}
		img {
			width: 270px;
			height: 480px;
		}

		div {
			width: 80%;
			margin: 0 auto;
		}

		ul li {
			list-style: none;
			float: left;
			padding: 10px;
			border: 4px solid skyblue;
			margin: 10px;
			position: relative;
		}

		span {
			position: absolute;
			right: 0;
			top: 0;
			background: red;
			color: #fff;
			padding: 5px 10px;
			font-size: 20px;
			display: none;
		}

		ul li:hover span {
			display: block;
		}